body{
  height: 100vh;
}

footer {
  font-size: 20px;
  text-align: center;
}

#title_box{
  font-weight: bold;
  font-size: 50px;
  display: flex;
  height:200px;
  flex-direction: center;
  justify-content: center;
  margin-bottom: 30px;
}

#title_text{
  margin:auto;
  text-align: center;
}

.text-centered{
  text-align: center;
}

.text-big{
  font-size: 40px;
}

#reservation-button{
  background-color: rgb(71, 168, 25);
  border-color: rgb(19, 88, 15);
  margin:auto;
  width: 360px;
  height: 100px;
  font-size: 36px;
  resize: both;
  overflow: auto;

}

#reservation-box{
  display: flex;
  height:200px;
  flex-direction: center;
  justify-content: center;
  margin-bottom: 100px;
}

#contact-form-box{
  margin-top: 10vh;
  margin-left:30%;
  margin-right: 30%;
  margin-bottom: 18vh;
}

#description-long{
  margin: 200px;
  margin-top: 10px;
  margin-bottom: 40px;
  white-space: pre-wrap;
}

#description-short{
  width: 76%;
  margin-left: 12%;
  margin-bottom: 30px;
  text-align: center;
  margin-top: 0px;
}

#logo-box{
  margin-top: 40px;
  margin-bottom: 30px;
  width: 100%;
  height: 450px;
  text-align: center;
}

#logo{
  max-width: 100%;
  max-height: 100%;
}

#logo-small{
  max-width: 100%;
  max-height: 100%;
}

#small-logo-box{
  height: 40px;
  width: 40px;
  text-align: center;
}

#about-image-box{
  width: 100%;
  height: 300px;
  text-align: center;
}

#about-image{
  max-width: 100%;
  max-height: 100%;
}

#footer-powered{
  height: 1.5em;
  text-align: center;
  background-color: #212529;
  color:white;
}

#footer-powered p{
  margin-bottom: 0;
}


.map-box{
  width: 400px;
  height: 300px;
  padding-bottom: 20px;
}

.branch-box{
  margin-right: 10%;
  margin-left: 10%;
  display: grid;
  grid-template-columns: 500px 500px;
  grid-template-rows: 300px 300px 300px;
  grid-column-gap: 15%;
  grid-row-gap: 20px;
}

.address-box{
  padding-top: 2em;
 grid-column: 1/ 1;

}

#map-div{
  grid-column: 2 / 2;
  grid-row-start: 1;
}

#edit-client-data{
  margin-top: 10vh;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 20vh;
}

@media only screen and (max-width: 1400px) {
  .street-label{
    margin-top: 1.5em;
  }
}

.house-no-label{
  margin-top: 0;
}

@media only screen and (min-width: 1014px) {
  .house-no-label{
    margin-top: 1.5em;
  }
}

@media only screen and (min-width: 1400px) {
  .house-no-label{
    margin-top: 0;
  }
}

#edit-client-information-text{
  font-size: 30px;
  margin-bottom: 4vh;
}

#contact-form-text{
  font-size: 30px;
  margin-bottom: 4vh;
}
