{% load staticfiles %}
{% load bootstrap4 %}

<!doctype html>
<html lang="en">
  <head>
    <title>USSR</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static "MainPage/style.css" %}" />


  {% bootstrap_css %}
  {% bootstrap_javascript %}

  </head>
  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand" id = "small-logo-box" href="{% url 'MainPage:index' %}"><img id = "logo-small" src = "{% static "MainPage/images/logo_without_text_white.png" %}"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'workers:employee_index' %}">Strona główna pracownika</a>
          </li>


        </ul>
          <ul class="navbar-nav ml-auto">

            <li class="nav-item" style = "margin-right: 30px">
              <span class="navbar-text">
                Witaj {{ user.username }}!
              </span>
            </li>

              <li class="nav-item">
                  <a class = "nav-link" href="{% url 'users:logout' %}" >Wyloguj</a>
              </li>
          </ul>
      </div>
    </nav>

    {% block content %}{% endblock %}
