{% extends "workers/base.html" %}

{% block content %}

  <p><a href="{% url 'workers:woNotification' woNotification.id_wo_notification %}"><button type="button" class="btn btn-default">{{ woNotification }}</button></a></p>

  <p>Edycja wpisu:</p>

  <form action="{% url 'workers:edit_woNotification' woNotification.id_wo_notification %}" method='post' class="form-horizontal">
    {% csrf_token %}
    {% for field in form %}
        <div class="form-group">
            {{ field.errors }}
            <label class="col-sm-3" control-label>{{ field.label_tag }}</label><div class="col-sm-9" > {{ field }}</div>
          </div>
        </div>
    {% endfor %}
    {% buttons %}
      <button name="submit" class="btn btn-primary">Zapisz zmiany</button>
    {% endbuttons %}


  </form>

{% endblock content %}
