{% extends "workers/base.html" %}
{% load bootstrap4 %}

{% block content %}

  <p><a href="{% url 'workers:woNotification' woNotification.id_wo_notification %}"><button type="button" class="btn btn-primary">{{ woNotification }}</button></a></p>

  <h4 class="col-md-8 offset-md-3">Edycja wpisu:</h4>
  <br>
  <form action="{% url 'workers:edit_woNotification' woNotification.id_wo_notification %}" method='post' class="form-horizontal">
    {% csrf_token %}
    {% for field in form %}
    <div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="fieldWrapper">
            {{ field.errors }}
            <label class="col-sm-3" control-label>{{ field.label_tag }}</label> {{ field }}
          </div>
        </div>
      </div>
    {% endfor %}
    {% buttons %}
      <div class="col-md-8 offset-md-3"><button name="submit" class="btn btn-primary">Zapisz zmiany</button></div>
    {% endbuttons %}


  </form>

{% endblock content %}
