{% extends "workers/base.html" %}

{% block content %}




<p> Jesteś poprwanie zalogowanym pracownikiem </p>
<div id = "navigation-panel">
  <div class = "worker-navigation-element">
    <a class = "worker-navigation-link" href="{% url 'workers:personal_informations' %}"> Zmień swoje dane </a>
  </div>

  <div class = "worker-navigation-element">
    <a class = "worker-navigation-link" href="{% url 'workers:client_list' %})"> Klienci </a>
  </div>
<div class = "worker-navigation-element">
  <a class = "worker-navigation-link" href="{% url 'workers:woNotifications' %})"> Notatki </a>
</div>
<div class = "worker-navigation-element">
  <a class = "worker-navigation-link" href="{% url 'machines:machinetypes' %})"> Maszyny </a>
</div>
</div>

{% endblock content %}
