{% extends "workers/base.html" %}

{% block header %}
  <h1>Tematy</h1>
{% endblock %}

{% block content %}
<br>
<div class="col-md-8 offset-md-3"><a href="{% url 'workers:new_woNotification' %}"><button type="button" class="btn btn-primary">Dodaj nowy alert</button></a></div>
<br>
<br>
<div class="row">
<div class="col-md-8 offset-md-2">
    {% for woNotification in woNotifications %}
        <div class="card-header"><a href="{% url 'workers:woNotification' woNotification.id_wo_notification %}">
          <button type="button" class="btn btn-primary">{{ woNotification }}</button></a> - <b>Pracownik:
          </b> {{ woNotification.worker }}</div>
          <div class="card-body">
            <h5 class="card-title"><b>Temat: {{ woNotification.notification_subject }}</b></h5>
          <p><b>Treść:</b> {{ woNotification.notification_text }}</p></div>
    {% empty %}
      <p>Obecnie brak notatek.</p>
    {% endfor %}

</div>
</div>
{% endblock content %}
