{% extends "workers/base.html" %}

{% block header %}
  <h1>Tematy</h1>
{% endblock %}

{% block content %}
<a href="{% url 'workers:new_woNotification' %}"><button type="button" class="btn btn-primary">Dodaj nowy alert</button></a>
  <ul>
    {% for woNotification in woNotifications %}
      <li>
        <p><a href="{% url 'workers:woNotification' woNotification.id_wo_notification %}"><button type="button" class="btn btn-primary">{{ woNotification }}</button></a> - Pracownik: {{ woNotification.worker }}</p>
          <p>Temat: {{ woNotification.notification_subject }}</p>
          <p>Tekst: {{ woNotification.notification_text }}</p>
      </li>
    {% empty %}
      <li>Obecnie brak notatek.</li>
    {% endfor %}
  </ul>

{% endblock content %}
