{% extends "workers/base.html" %}

{% block content %}
<a href="{% url 'workers:wRaports' %}"><button type="button" class="btn btn-primary">Raporty</button></a>
<a href="{% url 'workers:wRaport1' %}"><button type="button" class="btn btn-primary">Wszystkie Maszyny</button></a>
<a href="{% url 'workers:wRaport2' %}"><button type="button" class="btn btn-primary">Sprawne Maszyny</button></a>
<br><br>
<table class="table">
<thead class="thead-dark" align="center">
<tr>
<th scope="col">Serwis</th>
<th scope="col">Maszna</th>
<th scope="col">Pracownik</th>
<th scope="col">Lokacja</th>
<th scope="col">TS początku</th>
<th scope="col">TS końca</th>
</tr>
</thead>
<tbody align="center">
{% for resource in resources %}

<tr>
  <td>{{ resource.service }}</td>
  <td>{{ resource.machine }}</td>
  <td>{{ resource.worker }}</td>
  <td>{{ resource.location }}</td>
  <td>{{ resource.start_timestamp}}</td>
  <td>{{ resource.finish_timestamp }}</td>
  </tr>
{% endfor %}
</tbody>
</table>

{% endblock content %}
