{% extends "machines/base.html" %}
{% load bootstrap4 %}
{% block content %}

  <p><a href="{% url 'machines:machinetype' machinetype.id_machine_type %}"><button type="button" class="btn btn-primary">{{ machinetype }}</button></a></p>

  <h3 align="center">Edycja wpisu</h3>
  <br>
  <form action="{% url 'machines:edit_machine' machine.id_machine %}" method='post' class="form-horizontal">
    {% csrf_token %}
    {% for field in form %}
    <div class="row">
      <div class="col-md-9 offset-md-3">
        <div class="form-group">
            {{ field.errors }}
            <label class="col-sm-2 col-form-label">{{ field.label_tag }}</label> {{ field }}
         </div>
      </div>
   </div>
    {% endfor %}
    {% buttons %}
      <div class="col-md-8 offset-md-3"><button name="submit" class="btn btn-primary">Zapisz zmiany</button></div>
    {% endbuttons %}
  </form>

{% endblock content %}
