{% extends "machines/base.html" %}

{% block content %}


<table class="table">
<thead class="thead-dark">
<tr>
<th scope="col">Usługa</th>
<th scope="col">Typ maszyny</th>
<th scope="col">Maszyna</th>
<th scope="col">Umiejętności</th>
</tr>
</thead>
<tbody>
<tr>
  <td>Mycie</td>
  <td>Myjka</td>
  <td>Myjka</td>
  <td>Mycie</td>
  </tr>
  <tr>
    <td>Kontrola układów elektronicznych</td>
    <td>Tester układów elektronicznych</td>
    <td>KTS 550</td>
    <td>Elektryk</td>
    </tr>
    <tr>
      <td>Diagnostyka układu hamulcowego</td>
      <td>Stanowisko do badania hamulców</td>
      <td>BSA 251</td>
      <td>Diagnostyka</td>
    </tr>
      <tr>
      <td>Diagnostyka układu hamulcowego</td>
      <td>Stanowisko do badania hamulców</td>
      <td>EBT</td>
      <td>Diagnostyka</td>
    </tr>
    <tr>
      <td>Diagnostyka układu jezdnego</td>
      <td>Stanowisko do kontroli zawieszenia</td>
      <td>FWT</td>
      <td>Diagnostyka</td>
    </tr>
    <tr>
      <td>Wyważanie kół</td>
      <td>Wyważarka do kół</td>
      <td>EF14</td>
      <td>Mechanik</td>
    </tr>
    <tr>
      <td>Diagnostyka układu kierowniczego</td>
      <td>Stanowisko do kontroli ustawienia kół</td>
      <td>HG660</td>
      <td>Diagnostyka</td>
    </tr>
    <tr>
      <td>Wymiana skrzyni biegów</td>
      <td>Podnośnik</td>
      <td>Podnośnik</td>
      <td>Mechanik</td>
    </tr>
    <tr>
      <td>Wymiana klocków hamulcowych</td>
      <td>Podnośnik</td>
      <td>Podnośnik</td>
      <td>Mechanik</td>
    </tr>
    <tr>
      <td>Wymiana opon</td>
      <td>Podnośnik</td>
      <td>Podnośnik</td>
      <td>Mechanik</td>
    </tr>
</tbody>
</table>


{% endblock content %}
