{% extends 'machines/base.html' %}

{% block content %}

  <h4 align="center">Typ maszyn: {{ machinetype }} - {{ machinetype.machine_type_name }}</h4>
  <p align="center"><a href="{% url 'machines:new_machine' machinetype.id_machine_type %}"><button type="button" class="btn btn-primary">Dodaj nową maszynę</button></a></p>
<table class="table">
<thead class="thead-dark" align="center">
<tr>
<th scope="col">Nazwa</th>
<th scope="col">Serwis</th>
<th scope="col">Ostatni serwis</th>
<th scope="col">Sprawna</th>
<th scope="col">Uwagi</th>
<th scope="col">Edycja</th>
<th scope="col">Kasowanie</th>
</tr>
</thead>
  <tbody align="center">
  {% for machine in machines %}
    <tr>
      <td>{{ machine.machine_name }}</td>
	  <td>{{ machine.service_interval }}</td>
	  <td>{{ machine.last_service }}</td>
	  <td>{{ machine.is_operational }}</td>
	  <td>{{ machine.notes }}</td>
	  <td><a href="{% url 'machines:edit_machine' machine.id_machine %}"><button type="button" class="btn btn-primary">Edytuj maszynę</button></a></td>
    <td><a href="{% url 'machines:delete_machine' machine.id_machine %}"><button type="button" class="btn btn-danger">Usuń maszynę</button></a></td>
    </tr>
  {% endfor %}
</tbody>
</table>

{% endblock content %}
