{% extends "machines/base.html" %}

{% block content %}

  <h3 align="center">Typy maszyn</h3>

  <p align="center"><a href="{% url 'machines:new_machinetype' %}"><button type="button" class="btn btn-primary">Dodaj nowy typ</button></a></p>
  <br>
  <br>
<table class="table">
  <tbody>
    {% for machinetype in machinetypes %}
<tr>
  <td align="right">
	 <p><a href="{% url 'machines:machinetype' machinetype.id_machine_type %}"><button type="button" class="btn btn-primary">{{ machinetype }}</button></a></td> <td> {{ machinetype.machine_type_name }}</p></td>
    {% empty %}
      Nie został jeszcze dodany żaden typ maszyn.
    {% endfor %}
  </tr>
  </tbody>
</table>
  <p align="center"><a href="{% url 'machines:new_machinetype' %}"><button type="button" class="btn btn-primary" align="center">Dodaj nowy typ</button></a></p>

{% endblock content %}
