#register-client-data{
  margin-top: 10vh;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 20vh;
}

@media only screen and (max-width: 1400px) {
  .street-label{
    margin-top: 1.5em;
  }
}

.house-no-label{
  margin-top: 0;
}

@media only screen and (min-width: 1014px) {
  .house-no-label{
    margin-top: 1.5em;
  }
}

@media only screen and (min-width: 1400px) {
  .house-no-label{
    margin-top: 0;
  }
}

#registration-client-information-text{
  font-size: 30px;
  margin-bottom: 4vh;
}
