{% extends "workers/base.html" %}

{% load bootstrap4 %}
{% load staticfiles %}
{% load render_table from django_tables2 %}
{% block content %}

<!doctype html>
<head>
  <script src="{% static "clients/scripts/script.js" %}"></script>
  <script src="{% static "clients/scripts/main.js" %}"></script>
  <script src="{% static "clients/scripts/report.js" %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static "clients/style.css" %}" />
  <link rel="stylesheet" href="{% static "clients/client_list.css" %}" />

  {% csrf_token %}
  <script type="text/javascript">
  var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
  </script>
</head>

<body id = "body">
  {% include "clients/client_table_filter.html" %}
<div id = "buttons">
  <button type="button" data-toggle="modal" data-target="#newmodal">Dodaj klienta</button>
  <button type="button" id = "delete-client-button">Usuń zaznaczonych klientów</button>
  {% for field in format_form%}
  <form id = "format-form">Wybierz format raportu: {{field}}<button type="button" onclick="get_report(old_form_data);">Pobierz raport</button></form>
  {% endfor %}
</div>


  <div id = "table-box">
    {% include "clients/client_table.html" %}
  </div>

  <div class="modal fade" id="newmodal" tabindex="-1" role="dialog" aria-labelledby="new-client" aria-hidden="true" data-backdrop="false" data-keyboard="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="New-Title">Dodajesz klienta</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id = "new-client-box">
        {% include "clients/new_client_form.html" %}
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>



  <div class="modal fade" id="editmodal" tabindex="-2" role="dialog" aria-labelledby="edit-client" aria-hidden="true" data-backdrop="false" data-keyboard="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="Edit-Title">Edytujesz klienta</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="OnOffEditClientForm()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id = "edit-client-form-box">
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="email-modal" tabindex="-2" role="dialog" aria-labelledby="send-email-form" aria-hidden="true" data-backdrop="false" data-keyboard="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="email-form-title">Wyślij maila</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="OffEmailForm();">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id = "email-form-box">
          <form id = "email-form">
            {% csrf_token %}
            {% for field in email_form %}
            <div class="form-group">
              {% bootstrap_field field form_group_class="form-group col-md-12" %}
            </div>
            {% endfor %}
            <input type="submit" class="btn btn-primary" value = "Wyślij">
          </form>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>

</body>


{% endblock content %}
