{% load bootstrap4 %}

<div>
  <form  id="client-form">
    {% csrf_token %}
    <div class = "form-row">
      {% bootstrap_field name_form.first_name form_group_class="form-group col-md-4.9" %}
      {% bootstrap_field name_form.last_name form_group_class='form-group col-md-6' %}
      {% bootstrap_field name_form.sex form_group_class="form-group col-md-1.1" %}
    </div>
    <div class = "form-row">
      {% bootstrap_field address_form.email form_group_class="form-group col-md-12" %}
    </div>
    <div class = "form-row">
      {% bootstrap_field address_form.phone form_group_class="form-group col-md-12" %}
    </div>
    <div class = "form-row">
      {% bootstrap_field address_form.street form_group_class="form-group col-md-8" %}
      {% bootstrap_field address_form.house_no form_group_class="form-group col-md-2" %}
      {% bootstrap_field address_form.apartment_no form_group_class="form-group col-md-2" %}
    </div>
    <div class = "form-row">
      {% bootstrap_field address_form.city form_group_class="form-group col-md-8" %}
      {% bootstrap_field address_form.zip form_group_class="form-group col-md-4" %}
    </div>
    <div>
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
      <input type="submit" value = "Zapisz" class="btn btn-primary">
    </div>
  </form>
</div>
