.worker-navigation-element{
  display: grid;
  grid-template-rows: 100%;
  height: 100%;
  width: 100%;
  justify-self: center;
  align-self:center;
  background-color: rgba(134, 142, 150, 0.6);
  text-align:center;
}

#navigation-panel{
  margin-top: 150px;
  display: grid;
  width:100%;
  grid-auto-rows: 50px;
  grid-row-gap: 15px;
}

.worker-navigation-link{
  font-size: 20px;
  font-weight: bold;
  height: 1.5em;
  margin: auto;
  align-self:center;
}

#worker-panel-grid{
  display: grid;
  margin-left: 3%;
  margin-right: 3%;
  grid-template-columns: 24% 74%;
  grid-column-gap: 2%;
}

#worker-calendar{
  width: 100%;
  height: 700px;
}

#calendat{
  width: 100%;
  height: 100%;
}

#edit-client-data{
  margin-top: 10vh;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 20vh;
}

@media only screen and (max-width: 1400px) {
  .street-label{
    margin-top: 1.5em;
  }
}

.house-no-label{
  margin-top: 0;
}

@media only screen and (min-width: 1014px) {
  .house-no-label{
    margin-top: 1.5em;
  }
}

@media only screen and (min-width: 1400px) {
  .house-no-label{
    margin-top: 0;
  }
}

#edit-client-information-text{
  font-size: 30px;
  margin-bottom: 4vh;
}

#format-form{
  margin-top: 2vh;
  margin-bottom: 1vh;
}
