#whole-page{
}

.card{
  border: 0px;
}

#show-services-button{
  margin-top: 5vh;
  display: grid;
  grid-auto-rows: auto;
  justify-content: center;
}

#show-services-button-text{
  width: 300px;
  visibility: hidden;
}

.card-body{
  padding: 0px;
}
