

#calendar{
  margin-left: 2%;
  margin-right: 2%;
}

#calendar-box{
  margin-top: 4vh;
  margin-bottom: 10vh;
}

.select-service{
  margin-left: 40%;
  width: 300px;
}

.disactive-select-service{
  display: none;
}

.active-select-service{
  display: block;
}

#select-service-group-box{
  margin-top: 5vh;
  text-align: center;
  margin-bottom: 3vh;
}
#select-service-group-box h3{
  text-align: center;
}

#select-service-box{
  text-align: center;
}

#select-service-message{
  display:none;
}

#select-service-message h3{
  text-align: center;
}
