
{% load staticfiles %}
{% load bootstrap4 %}

<!doctype html>
<html lang="en">
  <head>
    <title>USSR</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static "MainPage/style.css" %}" />
    <link rel="shortcut icon" type="image/png" href="{% static "MainPage/favicon.ico" %}" />
    <script src="{% static 'MainPage/scripts/main.js' %}"></script>

    {% bootstrap_css %}
    {% bootstrap_javascript %}


  </head>
  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand" id = "small-logo-box" href="{% url 'MainPage:index' %}"><img id = "logo-small" src = "{% static "MainPage/images/logo_without_text_white.png" %}"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'MainPage:about' %}">O nas</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{% url 'services:services' %}">Usługi</a>

          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Kontakt
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'MainPage:branches' %}">Nasze oddziały</a>
              <a class="dropdown-item" href="{% url 'MainPage:contact_form' %}">Formularz kontaktowy</a>
            </div>
          </li>
        </ul>
        {% if user.is_authenticated %}
          <ul class="navbar-nav ml-auto">

            <li class="nav-item" style = "margin-right: 30px">
              <span class="navbar-text">
                Witaj {{ user.username }}!
              </span>
            </li>

            <li class="nav-item dropdown" style = "margin-right: 30px">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Moje konto
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'clients:personal_informations' %}">Moje dane</a>
                <a class="dropdown-item" href="{% url 'services:client_reservations' %}">Rezerwacje</a>
              </div>
            </li>

              <li class="nav-item">
                  <a class = "nav-link" href="{% url 'users:logout' %}" >Wyloguj</a>
              </li>
          </ul>
          {% else %}
          <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  <a class = "nav-link" href="{% url 'users:login' %}" >Zaloguj</a>
              </li>
          </ul>
        {% endif %}
      </div>
    </nav>
{% block content %}{% endblock %}

<footer>
  <div id = "footer-powered">
    <p>Powered by USSR &trade;</p>
  </div>
</footer>


  </body>
</html>
