{% extends "MainPage/base.html" %}
{% load staticfiles %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static "MainPage/branches.css" %}" />
<div style="margin: 50px">
  <h2>Nasze placówki</h2>
</div>


<div class = "branch-box">

  {% include "MainPage/google-maps.html" %}
  {% for branch in branches_list %}
    <div class = "address-box grid-row-text">
          <h3>
             {{ branch.address.street }} {{ branch.address.house_no }}{% if branch.address.apartment_no %}/{{branch.address.apartment_no}}{% endif %}
          </h3>

          <h3>
              {{ branch.address.zip }}  {{ branch.address.city }}
          </h3>

          <h3>
              tel. {{ branch.address.phone }}
          </h3>

          <h3>
              e-mail: {{ branch.address.email }}
          </h3>
  </div>
  {% endfor %}
  <div id ="first-row"></div>
  <div id ="second-row"></div>
  <div id ="third-row"></div>
</div>

<form id="geolocation" action="/directions/" method="POST">
  {% csrf_token %}
  <input type="text" id="location" name="location" value="" />
  <input type="submit" />
</form>

<script type="text/javascript">

window.onload = getLocation;

function getLocation() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(fillLoc); //setCor);
  } else {
    window.alert("Urządzenie nie zewzwala na geolokalizację");
  }
}

function fillLoc(position) {
  var u_lat = position.coords.latitude;
  var u_lon = position.coords.longitude;
  document.getElementById("location").value = u_lat + ', ' + u_lon;
}

function submitLoc() {
  document.getElementById("geolocation").submit();
}

</script>
{% endblock content %}
