{% extends "MainPage/base.html" %}

{% block content %}

<div style="margin: 50px">
  <h2>Nasze placówki</h2>
</div>


<div class = "branch-box">
  <div id = "map-div">
  {% include "MainPage/google-maps.html" %}
  </div>
  {% for branch in branches_list %}

    <div class = "address-box">
          <h3>
             {{ branch.address.street }} {{ branch.address.house_no }}{% if branch.address.apartment_no %}/{{branch.address.apartment_no}}{% endif %}
          </h3>

          <h3>
              {{ branch.address.zip }}  {{ branch.address.city }}
          </h3>

          <h3>
              tel. {{ branch.address.phone }}
          </h3>

          <h3>
              e-mail: {{ branch.address.email }}
          </h3>
  </div>
  {% endfor %}

</div>

{% endblock content %}
