{% extends "MainPage/base.html" %}
{% load staticfiles %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static "MainPage/branches.css" %}" />
<div style="margin: 50px">
  <h2>Nasze placówki</h2>
</div>


<div class = "branch-box">

  {% include "MainPage/google-maps.html" %}

  {% for branch in branches_list %}
    <div class = "address-box grid-row-text">
          <h3>
             {{ branch.address.street }} {{ branch.address.house_no }}{% if branch.address.apartment_no %}/{{branch.address.apartment_no}}{% endif %}
          </h3>

          <h3>
              {{ branch.address.zip }}  {{ branch.address.city }}
          </h3>

          <h3>
              tel. {{ branch.address.phone }}
          </h3>

          <h3>
              e-mail: {{ branch.address.email }}
          </h3>
  </div>
  {% endfor %}

  <div id ="first-row"></div>
  <div id ="second-row"></div>
  <div id ="third-row"></div>

</div>

{% endblock content %}
