{% extends "MainPage/base.html" %}

{% block content %}

<div style="margin: 50px">
  <h2> Nasze placówki: </h2>
</div>


{% for branch in branches_list %}
  <div style="margin: 200px; margin-top: 60px; margin-bottom: 40px">
        <h3>
           {{ branch.address.street }} {{ branch.address.house_no }}/{{branch.address.apartment_no}}
        </h3>

        <h3>
            {{ branch.address.zip }}  {{ branch.address.city }}
        </h3>

        <h3>
            tel. {{ branch.address.phone }}
        </h3>

        <h3>
            e-mail {{ branch.address.email }}
        </h3>
  </div>
  {% endfor %}

{% endblock content %}
