
  <div id="map-1" class = "map-box grid-row-map"></div>
  <div id="map-2" class = "map-box grid-row-map"></div>
  <div id="map-3" class = "map-box grid-row-map"></div>

    <script>
      function initMap() {

        var cords = []

        {% for branch in branches_list %}

        cords.push({"lat" : {{branch.latitude}},
                    "lng" : {{branch.longitude}}
                  });

        {% endfor %}

        console.log(cords[1]);
        var map = new google.maps.Map(document.getElementById('map-1'), {
          zoom: 16,
          center: cords[0]
        });

        var map2 = new google.maps.Map(document.getElementById('map-2'), {
          zoom: 16,
          center: cords[1]
        });

        var map3 = new google.maps.Map(document.getElementById('map-3'), {
          zoom: 16,
          center: cords[2]
        });
        var marker = new google.maps.Marker({
          position: cords[0],
          map: map,
        });

        var marker2 = new google.maps.Marker({
          position: cords[1],
          map: map2,
        });

        var marker3 = new google.maps.Marker({
          position: cords[2],
          map: map3,
        });
      }
    </script>

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA435D5JC2tSOJlByaAc26JIRhP-woZMTo&callback=initMap">
    </script>
