{% extends "MainPage/base.html" %}
{% load staticfiles %}

{% block content %}


    <div id = "logo-box">
      <img id = "logo" src = "{% static "MainPage/images/logo.png" %}">
    </div>

    <h2 id = "description-short">{{ shortdescription.description_short }}</h2>

    <!-- <h2 class = "text-centered text-big">Zarezerwuj nasze usługi już teraz!</h2> -->

    <div id = "reservation-box">
      <button type="button" class = "btn btn-primary" id = "reservation-button" onclick = "goToReservation()">Zarezerwuj usługi</button>
    </div>

{% endblock content %}
