
<!doctype html>
<html lang="en">
  <head>
    <title>Hello, world!</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'MainPage/style.css' %}" />


    <!-- Bootstrap CSS -->
  </head>
  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand" href="#">USSR</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">O nas</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Uslugi
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Strzyżenie koni</a>
              <a class="dropdown-item" href="#">Zakręcanie ogonów</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Trzepanie hajsu</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Kontakt</a>
          </li>
        </ul>
          <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  <a class="nav-link" href="" data-target="#myModal" data-toggle="modal">Zaloguj</a>
              </li>
          </ul>
      </div>
    </nav>


    <h1 style="height: 200px; text-align: center; margin: 100px; margin-bottom:10px">Nazwa firmy</h1>

    <h2 style = "width: 70%; margin-left: 15%; margin-bottom: 30px; text-align: center;">
    Witajcie w mojej kuchni, mam tu towar z wyższej półki. <br/>
    Banany i parówki, nawet placki i drożdżówki.<br/>
    Musisz mi wierzyć stary, inne kuchnie to koszmary.<br/>
    Lubię kiedy mówisz: "pokaż mi swoje towary".<br/>
    </h2>
<iframe width="854" height="480" src="https://www.youtube.com/embed/dLLRUtql_ys" frameborder="0" gesture="media" style="margin-left: 19%" allowfullscreen></iframe>


  </body>
</html>
