{% extends "MainPage/base.html" %}

{% block content %}

    <h1 style="height: 200px; text-align: center; margin: 100px; margin-bottom:10px">{{ maincompany.company_name }}</h1>

    <h2 style = "width: 70%; margin-left: 15%; margin-bottom: 30px; text-align: center;">
      {{ shortdescription.description_short }}
    </h2>
<iframe width="854" height="480" src="https://www.youtube.com/embed/dLLRUtql_ys" frameborder="0" gesture="media" style="margin-left: 19%" allowfullscreen></iframe>

{% endblock content %}
