
{% load staticfiles %}

<head>
  <script type="text/javascript" src="http://momentjs.com/downloads/moment.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src='{% static 'services/scripts/summary.js' %}'></script>
  <script type="text/javascript" src='{% static 'services/scripts/ajax_setup.js' %}'></script>
  <link rel="stylesheet" href="{% static 'services/style.css' %}" />

  {% csrf_token %}
  <script type="text/javascript">
  var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
  </script>

</head>

<div>
  <h1>Podsumowanie rezerwacji</h1>
  <h2>Nazwa usługi: {{service.se_dict_name}}</h2>
  <h2>Data: {{datetime|date:"Y-m-d"}}</h2>
  <h2>Godzina: {{datetime|date:"H:i"}}</h2>
  <h2>Przewidywany czas trwania: {{service.avg_time}} min</h2>
  <h2>Cena: {{service.base_price}} zl</h2>
</div>
<form id = "reservation-form">
  {% csrf_token %}
  <input type="hidden" name="service" id = "service" value = "{{service.id_se_dict}}">
  <input type="hidden" name="date" id = "date" value = "{{datetime|date:"Y-m-d H:i"}}">
  <input type="checkbox" id="facture" name="facture">
  <label for="facture">Czy utworzyć fakturę vat?</label>
  <button id = "submit">Potwierdź</button>
</form>
<button id = "resignation">Zrezygnuj</button>

<div id = "reservation-confirm-window">
  <div id = "reservation-confirm-box">
    <input type="button" onclick="location.href='/services/reservation';" value="Ok" id = "ok-button" />
  </div>
</div>
