{% extends "MainPage/base.html" %}

{% block content %}
{% load static %}
  <h1>Nasze usługi:</h1>

<h2>Warsztat Samochodowy:</h2>
  <ul>
    {% for segrupee in segrupees %}
      <li>
   {{segrupee.se_dict_name}}
    </li>
    {% empty %}
      <li>Wystąpił błąd, przepraszamy.</li>
    {% endfor %}
  </ul>

  <h2>Usługi dla zwierząt:</h2>
    <ul>
      {% for segrupe in segrupes %}
        <li>
     {{segrupe.se_dict_name}}
      </li>
      {% empty %}
        <li>Wystąpił błąd, przepraszamy.</li>
      {% endfor %}
    </ul>

    <h2>Usługi inne:</h2>
      <ul>
        {% for segrupeee in segrupeees %}
          <li>
       {{segrupeee.se_dict_name}}
        </li>
        {% empty %}
          <li>Wystąpił błąd, przepraszamy.</li>
        {% endfor %}
      </ul>

  
  {% endblock content %}
